<app-dashboard></app-dashboard>
<button mat-button (click)="goBack()">Back</button>
<div *ngIf="notFound; else catInfo" class="error-container">
  <img src="assets/images/404error2.jpg" alt="404 Error - Cat not found" />
</div>

<ng-template #catInfo>
  <div class="container">
    <div class="container">
      <div class="scrollable-container">
        <div *ngFor="let photoUrl of cat?.photoUrls" class="image-container">
            <img [src]="photoUrl" alt="Cat photo" /> 
        </div>
      </div>
      <button mat-button (click)="goToUpdateForm(cat?.catId)">Update Cat</button>

      <div class="cat-title">
        <h1>{{ cat?.name }}</h1>
        <h2>{{ cat?.gender }} • {{ cat?.age }} {{ cat?.sterilization ? ' • Sterilized' : '' }}</h2>
      </div>
      <hr>
      <h1>Latest updates</h1>
      <div class="cat-update">   
        <mat-card>     
          <mat-card-header><p>Last fed</p></mat-card-header>
          <mat-card-content>
            <ng-container *ngIf="cat?.fedUpdates == 0; else hasFedItems">
              <p>{{ cat?.name }} has not been fed recently</p>
            </ng-container>
            <ng-template #hasFedItems>
              <div class="update-items" *ngFor="let update of cat?.fedUpdates">
                <p>{{ update.location }}</p>
                <p>{{ update.time }}</p>
                <p>@{{ update.username }}</p>
              </div>
            </ng-template>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header><p>Last seen</p></mat-card-header>
          <mat-card-content>
            <ng-container *ngIf="cat?.seenUpdates == 0; else hasSeenItems">
              <p>{{ cat?.name }} has not been fed recently</p>
            </ng-container>
            <ng-template #hasSeenItems>
              <div class="update-items" *ngFor="let update of cat?.seenUpdates">
                <p>{{ update.location }}</p>
                <p>{{ update.time }}</p>
                <p>{{ update.username }}</p>
              </div>
            </ng-template>
          </mat-card-content>
        </mat-card>
        <mat-card *ngIf="cat?.fundraiserUpdates">
          <mat-card-header><p>Fundraiser Notice</p></mat-card-header>
          <mat-card-content>
            <p>{{ cat?.fundraiserUpdates?.title }}</p>
            <p>{{ cat?.fundraiserUpdates?.timeLeft }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="goToFundraiser(cat.catId)">View Fundraiser</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <hr>
      <h1>About me</h1>
      <div class="cat-details">
        <div class="cat-attributes">
          <p><strong>Personality traits</strong></p>
          <mat-chip-set>
            <mat-chip *ngFor="let trait of cat?.personalityTraits">{{ trait }}</mat-chip>
          </mat-chip-set>
          <p><strong>Diet preferences</strong></p>
          <div class="cat-diet">
            <div class="cat-diet-likes">
            <p><strong>Likes</strong></p>
              <mat-chip-set>
                <mat-chip *ngFor="let like of cat?.dietLikes">{{ like }}</mat-chip>
              </mat-chip-set>
            </div>
            <div class="cat-diet-dislikes">
              <p><strong>Dislikes</strong></p>
              <mat-chip-set>
                <mat-chip *ngFor="let dislike of cat?.dietDislikes">{{ dislike }}</mat-chip>
              </mat-chip-set>
            </div>
          </div>
          <p><strong>Feeding notes</strong></p>
          <mat-chip-set>
            <mat-chip *ngFor="let note of cat?.feedingNotes">{{ note }}</mat-chip>
          </mat-chip-set>
        </div>
        <div class="cat-locations">
          <p><strong>Frequently seen locations</strong></p>
          <div id="map" style="height: 500px; width: 500px"></div> 
        </div>
      </div>
    </div>
  </div>
</ng-template>
