<mat-card>
    <mat-card-header>
      <mat-card-title>{{ cat?.name }}</mat-card-title>
      <mat-card-subtitle>{{ cat?.age }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="3" rowHeight="1:1">
            <mat-grid-tile *ngFor="let photoUrl of cat?.photoUrls">
                <img [src]="photoUrl" alt="Cat photo" mat-card-image/> 
            </mat-grid-tile>
        </mat-grid-list>
      <p>Sterilization: {{ cat?.sterilization ? 'Yes' : 'No' }}</p>
      <p><strong>Personality Traits:</strong></p>
      <mat-chip-set>
        <mat-chip *ngFor="let trait of cat?.personalityTraits">{{ trait }}</mat-chip>
      </mat-chip-set>
      <p><strong>Diet Likes:</strong></p>
      <mat-chip-set>
        <mat-chip *ngFor="let like of cat?.dietLikes">{{ like }}</mat-chip>
      </mat-chip-set>
      <p><strong>Diet Dislikes:</strong></p>
      <mat-chip-set>
        <mat-chip *ngFor="let dislike of cat?.dietDislikes">{{ dislike }}</mat-chip>
      </mat-chip-set>
      <p><strong>Feeding Notes:</strong></p>
      <mat-chip-set>
        <mat-chip *ngFor="let note of cat?.feedingNotes">{{ note }}</mat-chip>
      </mat-chip-set>
      <p><strong>Frequent Locations:</strong></p>
      <div *ngFor="let location of cat?.frequentLocations">
        <p>Lat: {{ location?.lat }}, Lng: {{ location?.lng }}</p>
      </div>
      <p><strong>Fed Updates:</strong></p>
      <div *ngFor="let update of cat?.fedUpdates">
        <p>{{ update.username }} fed at {{ update.location }} {{ update.time }}</p>
      </div>
      <p><strong>Seen Updates:</strong></p>
      <div *ngFor="let update of cat?.seenUpdates">
        <p>{{ update.username }} saw at {{ update.location }} {{ update.time }}</p>
      </div>
    </mat-card-content>
</mat-card>
