<app-dashboard></app-dashboard>
<div class="back-navigation">
  <button mat-button (click)="goBack()"> Back</button>
</div>
<div class="container">
    <h1>Update Cat Status</h1>
    <form [formGroup]="form" (ngSubmit)="submitForm()" class="vertical-form">
        <mat-form-field appearance="fill">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
                <mat-option value="seen">Seen</mat-option>
                <mat-option value="fed">Fed</mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Location</mat-label>
            <input matInput formControlName="location">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Date and Time</mat-label>
            <input matInput type="datetime-local" formControlName="datetime">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Comments</mat-label>
            <textarea matInput formControlName="comments"></textarea>
        </mat-form-field>

        <div class="vertical-form-group">
            <mat-label>Upload Photo</mat-label>
            <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
            <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">
        </div>

        <div *ngIf="form.get('type')?.value === 'fed'" class="vertical-form-group">
            <mat-label>Type of Food Given</mat-label>
            <mat-checkbox formControlName="treats">Treats</mat-checkbox>
            <mat-checkbox formControlName="wetFood">Wet Food</mat-checkbox>
            <mat-checkbox formControlName="dryFood">Dry Food</mat-checkbox>
        </div>

        <div *ngIf="form.get('type')?.value === 'fed'" class="vertical-form-group">
            <mat-label>Water Bowl Status</mat-label>
            <mat-radio-group formControlName="waterStatus">
                <mat-radio-button value="not refilled">Not Refilled</mat-radio-button>
                <mat-radio-button value="refilled">Refilled</mat-radio-button>
            </mat-radio-group>
        </div>
        <br>
        <div>
            <button type="submit" [disabled]="!form.valid" class="large-button">Submit</button>
        </div>
        
    </form>
</div>
