.container {
    justify-content: center;
    align-items: center;
    padding: 50px;
    }
    
.form-element {
    margin-bottom: 10px;
}

.vertical-form {
    display: flex;
    flex-direction: column;
}

.vertical-form-group {
    margin-top: 10px;
}

.mat-form-field {
    width: 100%;
    max-width: 300px;
}

.mdc-text-field__input::-webkit-calendar-picker-indicator {
    display: block !important;
}

.large-button {
    font-size: 1.2rem;
    padding: 12px 24px;
}

.valid-button {
    background-color: rgb(205, 50, 148);
    color: rgba(4, 0, 0, 0.989);
  }

.back-navigation {
    padding: 1.5rem 1.5rem 0 1.5rem;
}
  
    