<div class="container">
    <mat-toolbar>

        <div class="logo">
            <p>Catlas</p>
        </div>
    
    <nav class="nav-container">
        <ul class="nav-left">
            <li><button mat-button routerLink="" class="nav-button">Home</button></li>
        </ul>
        <ul class="nav-right">
            <button mat-button routerLink="/admin/requests" class="nav-button" 
            *ngIf="authService.hasRoles(['ROLE_ADMIN'])">Requests</button>

            <button mat-button routerLink="/addcat" class="nav-button">Add Cat</button>
            <li><app-circle-menu></app-circle-menu></li>
        </ul>
    </nav>
</mat-toolbar>

</div>
