.container {
    display: flex;         /* Added */
    flex-direction: column; /* Added */
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.vertical-form {
    display: flex;
    flex-direction: column;
    width: 100%;           /* Ensure the form takes the full width */
    max-width: 300px;      /* But restricts it to 300px */
    align-items: center;
}

.mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

.large-button {
    width: 100%;
    margin-top: 20px;
}

.valid-button {
    background-color: limegreen;
    color: white;
}

.back-navigation {
    padding: 1.5rem 1.5rem 0 1.5rem;
}
